@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  

.main-page {
  background: url("/images/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-page {
  background: url("/images/bg-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}