@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  

.main-page {
  background: url("/images/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-page {
  background: url("/images/bg-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-page {
  background: url("/images/bg-blog.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-page{
  background: url("/images/Untitled-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box-gradient {
  border: 10px solid transparent; /* Makes space for the gradient */
  border-image: linear-gradient(to bottom, #5CA8FF80, #ffffff80);
  border-image-slice: 1;
}